// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// global styles

.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.common-bg {
  background-color: color($colors, common-bg);
}

.white-bg {
  background-color: color($colors, white);
}

.padding-xs {
  padding: 10px;
}

.round {
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.7em;
}

.bold {
  font-weight: bold;
}

// position
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid color($colors, border-color);
}

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

// card style
.card {
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

// navbar style
ion-navbar.no-border {

  .toolbar-background {
    border: none;
  }
}

// transparent nav bar
.toolbar.nav-transparent {

  .toolbar-background {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item.item-block {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, border-color);

    .item-inner {
      border: none;
    }
  }
}

.list-transparent {
  .item {
    background: none;
  }
}

// item style
.item.item-block.no-border {

  .item-inner {
    border: none;
  }
}

// common classes
.middle-align {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// button style
.button-border {
  background: none;
  border: 1px solid color($colors, primary);
}

.button {
  border-radius: 0;
}

// fix slides style
ion-slides {
  .swiper-pagination.hide {
    display: block !important;
  }
}

// tab style
.tabs-ios-white .tab-button-icon {
  color: rgba(0, 0, 0, 0.5);
}
